@use 'sass:color';
@use '../../../../styles/variables' as *;

/* ===========================
* MenuList
============================== */
.menuList {
  margin-bottom: 2.5rem;
  
  &__details {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  
  &__header {
    font-family: $body-font;
  }
  
  &__title {
    line-height: 120%;
    font-family: inherit;
    font-size: $font-size-title-lg;
    font-weight: 600;
    color: inherit;
  }

  &__menus {
    max-width: 628px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    gap: 0.5rem;
  }
}


/* ===========================
* Responsive
============================== */
@media (max-width: $breakpoint-tablet-lg) {
  .menuList {

    &__details {
      gap: 0.5rem;
    }

    &__title {
      font-size: $font-size-title-md;
    }
  }
}

@media (max-width: $breakpoint-mobile-portrait-xl) {
  .menuList {

    &__title {
      font-size: $font-size-title-sm;
    }
  }
}

@media (max-width: $breakpoint-mobile-portrait-lg) {
  .menuList {
    margin-bottom: 1.5rem;
  }
}