@use 'sass:color';
@use '../../styles/_variables.scss' as *;

/* ===========================
* About Us
============================== */
.aboutUs {
}

.story {
  padding: $section-page-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  font-family: $body-font;
  overflow: hidden;
}

.banner {

  &__heading {
    display: none;
  }
  
  &__img {
  }
}


/* ===========================
* Responsive
============================== */
@media (max-width: $breakpoint-tablet-lg) {
  .story {
    padding: $section-page-padding-tablet;
    margin-block-end: 0.5rem;
    gap: 3.5rem;
  }  
}