@use 'sass:color';
@use '../../../styles/_variables.scss' as *;

/* ===========================
* Event
============================== */
.event {
  padding: $section-page-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-image: url('../../../assets//images/home/event-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  
  &__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    z-index: 1;
  }
  
  &__description {
    font-family: $body-font;
    color: $color-primary;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  &__title {
    font-family: inherit;
    font-size: $font-size-subheading;
    color: inherit;
    white-space: nowrap;
  }
  
  &__text {
    max-width: 750px;
    font-size: $font-size-body-xl;
    font-weight: 300;
    line-height: 1.5;
  }
}

/* ===========================
* Responsive
============================== */
@media (max-width: $breakpoint-tablet-lg) {
  .event {

    &__title {
      // white-space: unset;
      font-size: $font-size-title-lg;
    }

    &__text {
      font-size: $font-size-body-lg;
    }
  }
}

@media (max-width: $breakpoint-mobile-portrait-xl) {
  .event { 
    padding: $section-page-padding-tablet;

    &__title {
      font-size: $font-size-title-lg;
    }

    &__text {
      line-height: 1.3;
    }
  }
}

@media (max-width: $breakpoint-mobile-portrait-md) {
  .event { 

    &__title {
      font-size: $font-size-title-md;
    }

    &__text {
      font-size: $font-size-body-md;
    }
  }
}

@media (max-width: $breakpoint-mobile-portrait-sm) {
  .event { 

    &__title {
      font-size: $font-size-title-sm;
    }

    &__text {
      font-size: $font-size-body-sm;
    }
  }
}

